* {
    margin: 0;
    padding: 0;
}

/* START NAVIGATION */

.navbar {
    border: none;
    margin-right: 0px;
}

.navbar .navbar-brand {
    color: white;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:hover {
    font-weight: bold;
}

/* END NAVIGATION */

/* START HOME */

.Home {
    margin-top: 50px;
    padding-right: 0px;
    text-align: center;
    height: 500px;
    background-size: cover;
    padding: 170px;
}

.Home img {
    margin-top: -100px;
    height: 270px;
}

.Home h1,
h3,
a {
    color: rgba(255, 255, 255, 0.945);
}

.Home a:hover {
    color: white;
}

/* END NAVIGATION */

/* START ABOUT */

.About {
    background: white;
    margin-top: -20px;
    height: 450px;
}

.sub {
    text-align: center;
    padding: 5px;
}

.col-md-4 {
    margin-left: 50px
}

/* END ABOUT */

/* START CONTACT */

.Contact {
    background: rgb(68, 68, 68);
    height: 250px;
    padding: 5px;
    color: white;
    display: flex;
}

.Contact .w3-content.w3-container.w3-padding-64 {
    margin-left: 20px;
    margin-top: 25px;
}

/* END CONTACT */